<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1535016120720-40c646be5580" alt="speaking">
      <div class="card-body">
        <h5 class="card-title">Apply to Pitch</h5>
        <p class="card-text">Prior to the event, interested participants will be invited to apply to deliver a 2-minute pitch on a data and technology use case. Applicants will be approved to deliver their pitch if it meets the following criteria: (1) proposes a data and technology use case, (2) fits in one or more Civic Innovation Challenge focus areas, and (3) can be feasibly developed and implemented prior to January 1, 2020.</p>
        <p class="card-text">At the event, approved speakers will have two minutes to pitch their use case. Following the pitches, event participants will choose one of four breakout groups based on the Civic Innovation Challenge focus areas. At the end of the event, each of the four breakout groups will report back to all participants on their top three priority use cases within their focus area. Lastly, all participants will be provided with sticker dots to vote on their favorite use cases across all four focus areas.</p>
        <a href="#" class="btn btn-primary">Apply Now</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="/assets/images/cic-logo.png" alt="Civic Innovation Challenge logo">
      <div class="card-body">
        <h5 class="card-title">Ideas Competition</h5>
        <p class="card-text">The Sacramento Civic Innovation Challenge is a local effort to engage with the national Civic Innovation Challenge. The Civic Innovation Challenge will launch in 2019, with anticipated support from the National Science Foundation (NSF) and other stakeholders.</p>
        <p class="card-text">The first phase of the Civic Innovation Challenge is the Ideas Competition, which will ask researchers, government employees, nonprofits, and residents to identify challenges and priorities that can benefit from technical exploration, scientific discovery, and new approaches. Ideas Competition submissions are due January 31, 2019. The purpose of the Ideas Competition is to help the competition organizers scope subsequent phases of the challenge. Teams that provide the best Ideas Competition submissions will be invited to attend an Ideas Festival in early 2019.</p>
        <a href="https://nsfcivicinnovation.org/ideascompetition/" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>
