<div class="jumbotron">
  <h1 class="display-4">Let's solve climate change faster, together.</h1>
  <p class="lead">The Sacramento Urban Technology Lab is piloting a co-creation process to increase Sacramento's civic innovation capacity and accelerate progress toward the region's climate goals.</p>
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>

<div class="text-center">
  <h2>Exploring civic tech solutions that address climate change</h2>
  <p>By supporting the work of the <a href="https://www.lgc.org/climatecommission/" target="_blank">Mayors' Commission on Climate Change</a>, the Sacramento Civic Innovation Challenge will engage <strong>residents, experts, stakeholders, and technologists</strong> in a co-creation process to source and prioritize challenges that can be addressed through the application of data, technology, and user experience design.</p>
</div>

<p><small class="text-muted">Note: The focus of the Sacramento Civic Innovation Challenge may evolve prior to the January 31 Ideas Competition submission deadline, but we are proposing an initial challenge to structure the co-creation process.</small></p>
